//Bulma

// Set theme colors:

$dark-green: #0E190B;
$dimmed-green: #2A3F1A;
$gray-green: #505D35;
$light-green: #86A041;
$strong-green: #5A831D;
$beige: #C1CF69;
$light-beige: #f0f3d9;
$red: #dd0505;
$background: $dimmed-green;

$scheme-main: $dimmed-green;
$scheme-invert: $light-beige;
// update global variables

$primary: $light-green;
$success: $strong-green;
$info: $beige;
$light: $light-green;
$dark: $dark-green;
//$warning
//$danger

$text: $beige;
$text-light: $light-green;
$text-strong: $strong-green;

$title-color: $light-beige;
$subtitle-color: $light-green;

$link: $light-green;
$link-light: $light-beige;
$link-dark: $dimmed-green;
$link-visited: $dimmed-green;
$link-hover: $light-green;
$link-hover-border: $beige;

// box customization

// navbar

//$navbar-breakpoint: 0;

// font-family to prioritize helvetica
$font-family:BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif;


@import '~bulma/bulma';

