.bg-img {
    background-image: url(../img/homepage-background.webp) ;
    background-image: -webkit-image-set(
            url(../img/homepage-background.webp) 1x,

        );
background-image: image-set(
            url(../img/homepage-background.jpeg) 1x,
        ); /* Safari */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #000;
}

html {
    margin: 0px;
    height: calc(100% - 2em);
    width: 100%;
 }

body {
    margin: 0px;
    padding-top: 2em;
    min-height: 100%;
    width: 100%;
}

.is-transparent  {
    background-color: transparent;
}

@font-face {
    font-family: 'scriptinaregular';
    src: url('/font/scriptin-webfont.woff2') format('woff2'),
         url('/font/scriptin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.natural-font {
    font-family: scriptinaregular;
}

.grid {
    display: grid;
    margin: 1em;
    grid-template-columns: auto 1.5em 1.5em 1.5em;
    grid-template-rows: 1em 1em;
    column-gap: 1em;
    /* justify-content: end; */
    align-items: center;
}

.social-icon {
    grid-column-start: 2;
    place-self: center;
}

.social-icons {
    width: 100%;
    position: fixed;
    top: 0;
}

.float-appeal {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
}
