.bg-img {
    background-image: url(../img/homepage-background.webp) ;
    background-image: -webkit-image-set(
            url(../img/homepage-background.webp) 1x,
        );
    background-image: image-set(
            url(../img/homepage-background.jpeg) 1x,
        ); /* Safari */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #000;
}

html {
    margin: 0px;
    height: calc(100% - 2em);
    width: 100%;
 }

body {
    margin: 0px;
    padding-top: 2em;
    min-height: 100%;
    width: 100%;
}

.is-transparent  {
    background-color: transparent;
}

/* navbar specific */

@font-face {
    font-family: 'scriptinaregular';
    src: url('/font/scriptin-webfont.woff2') format('woff2'),
         url('/font/scriptin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.natural-font {
    font-family: scriptinaregular;
}


.grid {
    display: grid;
    margin: 1em;
    grid-template-columns: auto 1.5em 1.5em 1.5em;
    grid-template-rows: 1em 1em;
    column-gap: 1em;
    /* justify-content: end; */
    align-items: center;
}

.social-icon {
    grid-column-start: 2;
    place-self: center;
}

.social-icons {
    width: 100%;
    position: fixed;
    top: 0;
}

.float-appeal {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
}

/* grid to apply dashboard projects, tags and categories */

.grid-dashboard {
    display: grid;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.grid-tags {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.grid-categories {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-projects {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

/* styling the footer */

footer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: auto auto;
}

.climate-clock {
    max-width: 300px;
    justify-self: center;
    /* grid-column: 2/3;
    grid-row: 2/3; */
}